[demo]
localhost ansible_connection=local

[demo:vars]
ocp_domain=chile-b5a8.open.redhat.com
ocp_apps_domain=apps.chile-b5a8.open.redhat.com
threescale=true
configure_only=false
create_tenants=true
create_realms=true